* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav a {
  text-decoration: none;
  color: #4d4d4d;
}

.nav {
  background: #fff7ed;
  color: #000000;
  font-family: Inter;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 26px;
  padding-right: 26px;
}

.nav > h1 > a {
  color: #161616;
}
.nav > h1 {
  font-size: 25px;
  font-weight: 900;
  line-height: 40px;
  cursor: pointer;
}

.nav > ul {
  cursor: pointer;
  list-style: none;
  color: #4d4d4d;
  display: flex;
  margin-left: auto;
  gap: 13px;
}

.nav > li {
  position: absolute;
}
.line {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #4d4d4d;
  margin: 0 auto;
  width: 0%;
  transition: all 0.6s ease-in-out;
}

.line:hover,
.selected {
  border-bottom: 1px solid #4d4d4d;
  width: 100%;
}

footer {
  background-color: #252525;
  color: #aaaaaa;
}

footer h3 {
  font-size: 0.875rem;
  line-height: 1.4375rem;
  text-align: center;
  font-weight: 500;
}

.btn-og {
  background-color: #ff8c38;
  color: #fff7ed;
  cursor: pointer;
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  padding: 9px;
  margin-top: 2rem;
  border: none;
}

.tag {
  color: #ffead0;
  background-color: #e17654;
  display: inline-block;
  margin: 0;
  margin-right: auto;
  font-size: 1rem;
  padding: 0.125rem 0.875rem;
  border-radius: 5px;
}

.tag::first-letter {
  text-transform: uppercase;
}

main {
  flex-grow: 1;
  background-color: #fff7ed;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.clear-filter::before {
  content: none !important;
}
.clear-filter {
  margin: 0 !important;
}

.filter-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.4375rem;
}

.filter {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding: 6px 26px;
  background-color: #ffead0;
  text-decoration: none;
  color: #4d4d4d;
}

.og {
  color: #ffead0;
  background-color: #e17654;
}
.black {
  color: #ffead0;
  background-color: #161616;
}

.green {
  color: #ffead0;
  background-color: #115e59;
}
.login-form h1 {
  text-align: center;
}
.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
  padding: 9px 13px;
}

#form-email {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

#form-password {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px #0000000d;
}
