.vansElement {
  display: flex;
  background: #ffffff;
  height: 6.375rem;
  margin-top: 15px;
  align-items: center;
  padding: 1.125rem 1.5rem;
  gap: 0.4375rem;
  text-decoration: none;
}

.vansElement img {
  width: 4.1175rem;
  height: 4.1175rem;
  border-radius: 0.3125rem;
}

h3,
p {
  margin: 0;
}

h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}
