.vans {
  flex-grow: 1;
  background-color: #fff7ed;
  color: #161616;
  padding: 1.625rem;
}

.vans h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.125rem;
}

.vans-info img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}

p {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 9px 0;
}

.van-price {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.van--price-day .van--price-day {
  position: absolute;
}

.vans-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 50%));
  column-gap: 2.0625rem;
  row-gap: 1.625rem;
}
